{% extends 'init-header.html' %}
{% block content %}
<section>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h1 class='section-heading'>
                    All Converse Footwear
                </h1>
            </div>
        </div>

        <div class='row p-t-1'>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='/static/img/shoes/{{ shoe1Img }}'>
                    </div>
                    <div class='card-footer'>
                        <a href='/browse/Low Top'>Low Top</a>
                    </div>
                </div>
            </div>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='/static/img/shoes/{{ shoe2Img }}'>
                    </div>
                    <div class='card-footer'>
                        <a href='/browse/High Top'>High Top</a>
                    </div>
                </div>
            </div>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='/static/img/shoes/{{ shoe3Img }}'>
                    </div>
                    <div class='card-footer'>
                        <a href='/browse/Boot'>Boots</a>
                    </div>
                </div>
            </div>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='/static/img/shoes/{{ shoe4Img }}'>
                    </div>
                    <div class='card-footer'>
                        <a href='/browse/limited-edition'>Limited Edition</a>
                    </div>
                </div>
            </div>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='/static/img/shoes/{{ shoe5Img }}'>
                    </div>
                    <div class='card-footer'>
                        <a href='/browse/skate'>Skate</a>
                    </div>
                </div>
            </div>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='/static/img/shoes/{{ shoe6Img }}'>
                    </div>
                    <div class='card-footer'>
                        <a href='/browse/metallic'>Metallic</a>
                    </div>
                </div>
            </div>
            

        </div><!--/row-->
    </div>
</section>
{% endblock %}}