{% extends 'init-header.html' %}
{% block content %}
<section>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h1 class='section-heading'>
                    All {{ category }} Shoes
                </h1>
            </div>
        </div>
    
<div class="row"> 
    <!--for every shoe in the list of shoes, does the current shoe match the category given? If it does, display in in a sexy format, if not, skip it and check the next one -->
    {% set loopCount = 0 %}
    {% for shoe in shoes -%}
        {% if shoes[shoe]['category'] == category %}
            {{  "."  }}
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='../static/img/shoes/{{shoes[shoe]['background-img']}}'>
                    </div>
                    <div class='card-footer'>
                        <a href="/shoe/{{category}}/{{ shoes[shoe]['tag']}} ">{{ shoes[shoe]['name'] }}</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% set loopCount = loopCount + 1%}
    {%- endfor %}
</div>
    </div><!--/container -->
</section>
{% endblock %}}