{% extends 'init-header.html' %}
{% block content %}
<!--Navbar -->
<nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class='navbar-header'>
                    <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class='navbar-brand' href='#'>Shoebox</a>
                </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
                <ul class='nav navbar-nav navbar-right'>
                    <li><a href='#'>Link</a></li>
                    <li><a href='#'>Link</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<!--/Navbar-->
<section id='index-main'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h1 class='heading'><span class="legible-text">ShoeBox</span></h1>
            </div>
        </div>
        <div class='row p-t-3 text-center'>
            <div class='col-xs-12 p-t-3'>
                <h4 class='lead'><span class="legible-text">An extensive collection for Converse footwear.</span></h4>
                <br />
                <h5><span class="legible-text">Because, y'know, the world needs a catalogue for this. And finally it's here.</span></h5>
                <br />
                <br />
                <a href='/browse/' class='btn-sbx text-center m-t-3'>Browse</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}}