{% extends 'init-header.html' %}
{% block content %}
<section>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h1 class='section-heading'>
                    Lowtops[.html]
                </h1>
            </div>
        </div>

        <div class='row p-t-2'>
            <div class='col-xs-12 col-sm-6 text-center'>
                <form action=' class='form-inline'>
                    <div class='form-group'>
                        <label for='sort'>Sort By:
                        </label>
                        <select id='sort' class='form-control'>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>
                    </div>
                    <div class='form-group'>
                        <a href='/shoe' class='btn-sbx'>Refresh
                        </a>
                    </div>
                </form>
            </div><!--sort by form -->
        </div>

        <div class='row p-t-1'>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='http://demandware.edgesuite.net/sits_pod22/dw/image/v2/AALW_PRD/on/demandware.static/-/Sites-ConverseMaster/default/dwda7466d3/images/hi-res/M9166C_standard.png'>
                    </div>
                    <div class='card-footer'>
                        <a href='/shoe/id=0'>Shoe 1</a>
                    </div>
                </div>
            </div>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='http://demandware.edgesuite.net/aalw_prd/on/demandware.static/-/Sites-ConverseMaster/default/dw9097c3cf/images/hi-res/M9160C_standard.png?sw=580&sh=580&sm=fit'>
                    </div>
                    <div class='card-footer'>
                        <a href='/shoe/id=1'>Shoe 2</a>
                    </div>
                </div>
            </div>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='http://demandware.edgesuite.net/aalw_prd/on/demandware.static/-/Sites-ConverseMaster/default/dw102836f6/images/hi-res/153568C_standard.jpg?sw=580&sh=580&sm=fit'>
                    </div>
                    <div class='card-footer'>
                        <a href='/shoe/id=2'>Shoe 3</a>
                    </div>
                </div>
            </div>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='http://demandware.edgesuite.net/aalw_prd/on/demandware.static/-/Sites-ConverseMaster/default/dw26392fbd/images/hi-res/554863C_standard.jpg?sw=580&sh=580&sm=fit'>
                    </div>
                    <div class='card-footer'>
                        <a href='/shoe/id=3'>Shoe 4</a>
                    </div>
                </div>
            </div>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='http://demandware.edgesuite.net/aalw_prd/on/demandware.static/-/Sites-ConverseMaster/default/dwc7971d26/images/hi-res/153477C_standard.jpg?sw=580&sh=580&sm=fit'>
                    </div>
                    <div class='card-footer'>
                        <a href='/shoe/id=4'>Shoe 5</a>
                    </div>
                </div>
            </div>
            <div class='col-xs-6 col-sm-4'>
                <div class='card-wrapper'>
                    <div class='card'>
                        <img class='img-responsive img-card' src='http://demandware.edgesuite.net/aalw_prd/on/demandware.static/-/Sites-ConverseMaster/default/dw03335a42/images/hi-res/553345C_standard.jpg?sw=580&sh=580&sm=fit'>
                    </div>
                    <div class='card-footer'>
                        <a href='/shoe/id=5'>Shoe 6</a>
                    </div>
                </div>
            </div>
            

        </div><!--/row-->
    </div>
</section>
{% endblock %}}