{% extends 'init-header.html' %}
{% block content %}
<!--Navbar -->
<nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class='navbar-header'>
                    <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class='navbar-brand' href='#'>Shoebox</a>
                </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
                <ul class='nav navbar-nav navbar-right'>
                    <li><a href='#'>Link</a></li>
                    <li><a href='#'>Link</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<!--/Navbar-->
<section>
    <div class="jumbotron" id="#shoeID">
        <h1 class="shoe-heading">{{ shoe.shoeName }}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-heading">Original. A True Classic.</h2>
                <br />
                <p>The All Stars were made by basketball player, Chuck Taylor. These shoes are iconic. You wear them to work, kick back in, you define them. The original and best Converse shoe ever made. </p> 
            </div>
        </div>
        <div class="row p-t-3">
            <div class="col-xs-12">
                <h3 class="section-heading">Colours Available</h3>
            </div>
            <div class="p-t-3">
                <span class="hidden">You weren't supposed to see this!</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="white-cs"></div>
                <p class="cs-label">{{ colour	.colours }}</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="black-cs"></div>
                <p class="cs-label">Black</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="red-cs"></div>
                <p class="cs-label">Red</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="navy-cs"></div>
                <p class="cs-label">Navy</p>
            </div>
        </div>
	    <div class="row p-t-3">
	    	<div class="col-xs-12 text-center">
			<h3 class="section-heading">Size Range (UK)</h3>
			<h1 class="shoe-size-range">{{size1.size1}}  - {{size2.size2}}</h1>
		  </div>
	    </div>
        <div class="row p-t-3">
            <div class="p-t-3">
                <span class="hidden">This is a shameful whitespace hack. Please forgive me, i'm rlly tired.</span>
            </div>
            <div class="col-xs-12">
                <h3 class="section-heading">You May Also Like</h3>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="card-wrapper">
                    <div class="card">
                        <img class="img-responsive img-card" src="http://demandware.edgesuite.net/sits_pod22/dw/image/v2/AALW_PRD/on/demandware.static/-/Sites-ConverseMaster/default/dwda7466d3/images/hi-res/M9166C_standard.png">
                    </div>
                    <div class="card-footer">
                        <a href="#0">Low Top</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="card-wrapper">
                    <div class="card">
                        <img class="img-responsive img-card" src="http://demandware.edgesuite.net/sits_pod22/dw/image/v2/AALW_PRD/on/demandware.static/-/Sites-ConverseMaster/default/dwda7466d3/images/hi-res/M9166C_standard.png">
                    </div>
                    <div class="card-footer">
                        <a href="#0">Low Top</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="card-wrapper">
                    <div class="card">
                        <img class="img-responsive img-card" src="http://demandware.edgesuite.net/sits_pod22/dw/image/v2/AALW_PRD/on/demandware.static/-/Sites-ConverseMaster/default/dwda7466d3/images/hi-res/M9166C_standard.png">
                    </div>
                    <div class="card-footer">
                        <a href="#0">Low Top</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}}